/*:root {
    --darkest: #172A3A;
    --darker: #173753;
    --medium: #5B85AA;
    --light: #E0DDCF;
    --lightest: #FBFBFB;
}*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #FBFBFB;
    color: #172A3A;
}

html,
body {
    height: 100%;
    width: 100%;
}

img,
embed,
object,
video {
    max-width: 100%;
}

button {
    min-width: 48px;
    min-height: 48px;
}

a {
    text-decoration: none;
    color: unset;
}

section h2 {
    width: 100%;
}

.container {
    max-width: 1000px;
    padding: 0 10%;
    margin: 0 auto;
}

/********************** NAVIGATION *****************************/

nav {
    width: 300px;
    height: 100%;
    top: 0;
    background: #173753;
    color: #FBFBFB;
    opacity: 0.95;
    z-index: 3;
    position: fixed;
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
}

#nav-list {
    list-style-type: none;
    margin-top: 100px;
}

.nav-item {
    font-size: 1.5em;
    margin-bottom: 25px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
}

.nav-item:hover {
    background: #172A3A;
}

.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.logo {
    position: sticky;
    transform: translate(180px, -380px);
    transition: transform 0.3s ease;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(50, 50, 150, 0.6);
}

.on-edge {
    transform: translate(285px, -380px);
    transition: transform 0.3s ease;
}

/********************* HEADER AND MAIN CONTENT ****************/

#home {
    padding: 150px 0 50px 0;
    color: #FBFBFB;
    background: #5B85AA;
    font-size: 1.75em;
}

.main {
    margin-top: 100px;
}

section {
    clear: both;
    padding-top: 100px;
}

.section-head {
    min-width: 100%;
}

#profile-pic {
    border-radius: 50%;
    width: 25%;
    margin: 25px 0 10px 5%;
}

/*********************PROJECT SECTION******************************/



#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    overflow: hidden;
    border: 5px solid #5B85AA;
    padding: 0;
    position: relative;
    box-shadow: 5px 5px 10px #172A3A;
}

.project,
.project-img {
    border-radius: 5px;
}

.project-header {
    color: #FBFBFB;
    background: #5B85AA;
    margin: 0;
    text-align: center;
    padding: 15px 0;
    font-size: 1.5em;
    width: 100%;
}

.project-img {
    position: absolute;
    top: 83.333px;
    left: 60px;
    width: 125px;
    z-index: -1;
}

.desc {
    position: absolute;
    top: 39px;
    height: 200px;
    padding-top: 200px;
    animation-name: slide-down;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.desc-paragraph {
    background: #172A3A;
    color: #FBFBFB;
    opacity: 0.8;
    padding: 15px;
    padding-top: 30px;
    height: 100%;
    font-size: 1.25em;
}

.desc:hover {
    animation-name: slide-up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    0% {
        padding-top: 150px;
    }
    25% {
        padding-top: 85px;
    }
    50% {
        padding-top: 55px;
    }
    75% {
        padding-top: 27px;
    }
    100% {
        padding-top: 0;
    }
}

@keyframes slide-down {
    0% {
        padding-top: 0px;
    }
    25% {
        padding-top: 50px;
    }
    50% {
        padding-top: 100px;
    }
    75% {
        padding-top: 150px;
    }
    100% {
        padding-top: 200px;
    }
}

/****************** SOCIAL MEDIA **********************************/

#social-media-list {
    list-style-type: none;
}

.social-media-link {
    height: 25px;
    width: 130px;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 1.05em;
    display: flex;
    max-width: 160px;
}

.social-media-link:hover {
    background: #E0DDCF;
}

.social-media-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.social-media-label {
    margin-top: 5px;
}

/*************************** CONTACT FORM ************************/

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

#contact .section-head,
.info {
    grid-column-start: 1;
    grid-column-end: 5;
}

#contact-form {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
}

aside {
    grid-column-start: 4;
    grid-column-end: 5;
}

#contact-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    grid-row-gap: 10px;
}

.label {
    grid-column-start: 1;
}

.input,
#dropdown,
textarea {
    grid-column-start: 2;
    border-radius: 5px;
}

textarea {
    resize: none;
}

footer {
    background: #173753;
    color: #FBFBFB;
    height: 100px;
    margin-top: 50px;
}

/************************** MEDIA QUERIES *************************/

@media screen and (min-width: 1000px) {
    nav {
        position: fixed;
        transform: translate(0, 0);
        top: 0;
        width: 100%;
        height: 100px;
    }
    #nav-list {
        margin: 0;
        padding-left: 0;
    }
    .nav-item {
        float: left;
        padding: 40px;
        font-size: 1.5em;
        height: 20px;
        border-radius: 0;
    }
    .logo {
        transform: translate(170px, 10px);
        width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 665px) {
    h2 {
        font-size: 1.5em;
    }
    #profile-pic {
        width: 35%;
    }
    #projects {
        justify-content: center;
    }
    #contact {
        display: block;
    }
    #contact-form {
        width: 100%;
    }
    #social-media-list {
        margin-left: 150px;
    }
}

@media screen and (max-width: 450px) {
    #home {
        font-size: 1.5em;
    }
    #social-media-list {
        margin-left: 15%;
    }
}