.fancyfont {
  font-family: 'Yellowtail', cursive; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3F7883;
  color: #f8f8f8; }

nav {
  background-color: #3F7883;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1; }
  nav ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3F7883;
    color: #f8f8f8; }
  nav li {
    float: left; }
    nav li a {
      display: block;
      padding: 14px 16px;
      text-align: center;
      text-decoration: none;
      color: #f8f8f8; }
    nav li:hover:not(.active) {
      background-color: #013A45; }

header {
  text-align: center;
  color: #f8f8f8;
  background: url("../images/spots.jpg");
  font-size: 2.5em;
  margin-top: 25px;
  padding: 40px 0; }

h2 {
  text-align: center; }

main {
  padding: 20px auto;
  color: #013A45;
  background-color: #f8f8f8; }
  main h2 {
    font-size: 1.75em;
    padding-top: 0.75em; }

.project {
  width: 180px;
  height: 135px;
  margin: 15px;
  border: 5px solid #3F7883;
  transition: background-color 0.5s;
  box-shadow: 3px 3px 5px #101e21;
  border-radius: 4px;
  text-decoration: none;
  text-align: center; }
  .project h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3F7883;
    color: #f8f8f8;
    padding: 3px; }
  .project img {
    margin-top: 10px;
    border-radius: 5px; }
  .project:hover {
    background-color: #dfdfdf;
    box-shadow: 3px 3px 10px #013A45;
    border: 5px solid #013A45; }

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#summary {
  width: 100%; }

button {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #013A45;
  color: #f8f8f8;
  padding: 5px;
  font-weight: bold;
  border-radius: 4px; }
  button:hover {
    background-color: #f8f8f8;
    color: #013A45; }

#contact {
  overflow: hidden; }

#message {
  float: right;
  width: 40%;
  margin: 4%; }
  #message textarea {
    height: 15em;
    border-radius: 4px;
    width: 100%; }
  #message input {
    border-radius: 4px; }

#weblinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  float: right;
  margin-top: -2.5px;
  width: 70%; }
  #weblinks li {
    list-style-type: none; }
  #weblinks img {
    position: absolute;
    width: 25px;
    border-radius: 5px; }

.default {
  visibility: visible; }

.hover {
  visibility: hidden; }

.btn {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 5px; }
  .btn:hover .default {
    visibility: hidden; }
  .btn:hover .hover {
    visibility: visible; }

@media screen and (max-width: 950px) {
  #weblinks {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center; }

  footer {
    display: none; } }
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.25em; }

  h2 {
    font-size: .75em; }

  .project {
    width: 75px;
    height: 100px; }

  #summary {
    display: none; }

  #weblinks li {
    width: 20%;
    padding: 5px; }

  #tribute img {
    width: 40px;
    margin-top: 5px; }

  #quotes img {
    width: 55px;
    margin-top: 5px; }

  h3,
  nav li {
    font-size: 0.8em; }

  #info,
  #message {
    width: 100%; } }

/*# sourceMappingURL=SassStyles.css.map */
