$nav-bg: #3F7883;
$nav-text: #f8f8f8;
$hover: #013A45;

$btn-width: 25px;
$project-width: 180px;

@mixin flexbox{
  display: flex;
  flex-wrap: wrap;
}

@mixin body{  
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
@mixin navstyle{
  @include body();
  background-color: $nav-bg;
  color: $nav-text;
}

body{
  @include navstyle();
}

nav{
  background-color: $nav-bg;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  ul{
    list-style-type: none;  
    @include navstyle();
  }
  li{
    float: left;
    a{
      display: block;
      padding: 14px 16px;
      text-align: center;
      text-decoration: none;
      color: $nav-text;
    }
    &:hover:not(.active){
      background-color: $hover;
    }
  }
}

header{
  text-align: center;
  color: $nav-text;
  background: url("../images/spots.jpg");
  font-size: 2.5em;
  margin-top: 25px;
  padding: 40px 0;
}

h2{
  text-align: center;
}

main{
  padding: 20px auto;
  color: $hover;
  background-color: $nav-text;
  h2{
  font-size: 1.75em;
  padding-top: 0.75em;
  }
}

.project {
  width: $project-width;
  height: $project-width * 0.75;
  margin: $project-width / 12;
  border: 5px solid $nav-bg;
  transition: background-color 0.5s;
  box-shadow: 3px 3px 5px $nav-bg * 1/4;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  h3{
    @include navstyle();
    padding: 3px;
  }
  img{
    margin-top: 10px;
    border-radius: 5px;
  }
  &:hover{
    background-color: $nav-text * 0.9;
    box-shadow: 3px 3px 10px $hover;
    border: 5px solid $hover;
  }
}

#projects{
  @include flexbox();
  justify-content: center;
}

button{
  @include body();
  background-color: $hover;
  color: $nav-text;
  padding: 5px;
  font-weight: bold;
  border-radius: 4px;  
  &:hover{
    background-color: $nav-text;
    color: $hover;
  }
}

#contact{
  overflow: hidden;
}
#weblinks{
  @include flexbox();
  justify-content: flex-end;
  float: right;
  margin-top: -2.5px;
  width: 70%;
  li{
    list-style-type: none;
  }
  img{
    position: absolute;
    width: $btn-width;
    border-radius: 5px;
  }
}

.default{
  visibility: visible;
}
.hover{
  visibility: hidden;
}
.btn{
  position: relative;
  width: $btn-width;
  height: $btn-width;
  margin: $btn-width/5;
  &:hover .default{
    visibility: hidden;
  }
  &:hover .hover{
    visibility: visible;
  }
}


@media screen and (max-width: 950px){
  #weblinks{
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
  }
  footer{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 1.25em;
  }
  h2{
    font-size: .75em;
  }

  .project {
    width: 75px;
    height:100px;
  }
  #summary{
    display: none;
  }

  #weblinks li{
    width: 20%;
    padding: 5px;
  }
  #tribute img{
    width: 40px;
    margin-top: 5px;
  }
  #quotes img{
    width: 55px;
    margin-top: 5px;
  }
  h3,
  nav li {
    font-size: 0.8em;
  }

  #info,
  #message{
    width: 100%;
  }
  
}