button
a:any-link{  
  text-decoration: none;
}

.fancyfont{
  font-family: 'Yellowtail', cursive;
}

h2,
#summary,
#message textarea{
  width: 100%;
}


#contact{  
  overflow: hidden;
}


textarea,
input{
  border-radius: 4px;
}

#message{
  float: right;
}

article {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}



/*--------- CONTACT SECTION -----------*/

#info, #message{
  width: 40%;
  margin: 4%;
}

#info{
  float: left;
  margin-left: 0;
}
#message{
  height: 500px;
}
#message textarea{
  height: 15em;
}

/*----------- FOOTER -----------*/

footer {
  padding: 10px;
  height: 50px;
}
        .default{
            visibility: visible;
        }
        .hover{
            visibility: hidden;
        }
        .btn:hover .default{
            visibility: hidden;
        }
        .btn:hover .hover{
            visibility: visible;
        }


