section{
    float: left;
    width: 475px;
    font-size: 125%;
}
table, tr, td, th{
    margin: 0 auto 0 auto;
}
table{
    padding: 10px 0;
    width: 425px;
}
table.dev-table tr, table.dev-table td, table.dev-table th{
    border-bottom: 1px dashed #000;    
}
th{
    text-align: center;
}
td{
    padding: 5px 20px;
}
a{
    text-decoration: none;
}
#top-devs{
    background: #fff;
    width: 125px;
    margin-top: 15px;
    float: right;
    padding: 20px;
    border: 5px solid #1c478e;
    border-radius: 10px;
}
hr{
    margin-top: 10px;
    color: #1c478e;
}