*{
    margin: 0 auto;
    text-align: left; 
}

body{
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #1c478e;
    background-image: url(../images/background.png);
    background-repeat: repeat-x;
}
h2{
    font-size: 20px;
    margin: 10px 0;
    padding-bottom: 10px;
}
h3{
    color: #054dbc;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}
h4{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 7px;
    color: #054dbc;
}
#container{
    width: 960px;
    margin: 0 auto 15px auto;
}
#container img{
    width: 250px;
}
header{
    width: 960px;
    height: 85px;
}
header h1{
    color: #ffffff;
    float: left;
    font-size: 48px;
    padding: 20px 0 0 20px;
}
header h2{
    float: right;
    color: #A9D1FA;
    padding: 40px 20px 0 0;
}
.blue-text{
    color: #67A0F5;
}
.white-text{
    color: #ffffff;
}

#menu{
    display: block;
    float: left;
    clear: both;
    width: 960px;
    height: 54px;
}
#menu ul{
    list-style-type: none;
    padding: 15px 0 0 0;    
    margin-left: auto;
    width: 960px;
}
#menu li{
    display: inline;
    list-style-type: none;
    padding: 0;

}
#menu li a:hover{
    color: #A9D1FA;
}
#menu li a{
    color: #ffffff;
    float: left;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
}
#nameDisplay{
    color: #ffffff;
    float: right;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}
#left-menu{
    color: #ffffff;
    margin: 15px auto;
    width: 190px;
    float: left;
    background: #1c478e;
    border-radius: 10px;
    padding: 15px 20px 10px 10px;
}
#left-menu h3{
    color: #ffffff;
    padding-bottom: 8px;
    border-bottom: 2px solid #ffffff;
    font-size: 16px;
}
#left-menu ul{
    list-style-type: none;
    padding: 0;
}
#left-menu li{
    list-style-type: none;
    padding: 15px 0 8px 0;
    border-bottom: 1px dashed #ffffff;
    font-size: 14px;
}

#left-menu a, #left-menu a:visited{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
#newsletter{margin-top: 20px;}
#newsletter p, #news input{
    margin: 5px 0;
}
#news label{display: block;}
main{
    float: right;
    width: 725px;
    display: block;
    margin: 0 auto 15px auto;
}
section{
    background: #ffffff;
    margin: 15px 0 0 15px;
    padding: 15px;
    border: 5px solid #1c478e;
    border-radius: 10px;
}
section h2{    
    width: 100%;
}
.float{
    float: right;
    margin: 15px;
}
section:nth-child(2){
    display: flex;
    flex-wrap: wrap;
}
.developer{
    width: 150px;    
    margin: 0 10px 10px 0;
}
.developer ul{
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
}
.developer li{
    list-style-type: none;
    line-height: 1.75em;
}
#commercial{
    margin: 0 75px;
}
form p{
    width: 100%;
    clear: both;
}
footer{
    background-color: #000000;
    margin: 50px 0 0 0;
    padding: 15px;
    width: 100%;
    clear: both;
}
footer p{
    text-align: center;
    color: #A9D1FA;
    font-size: 110%;
}