body{
  background: #d0d1d2;
}
.container-fluid,
.jumbotron,
.breadcrumb,
.breadcrumb li,
.breadcrumb li a,
#searchBtn,
.table-striped thead,
.navbar li a
 {
  background: #263b4c;
  color: #a7bfc9 !important;
}

#main-nav > .active{
  background: #a7bfc9;
  color: #263b4c !important;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  border: none;
}

.jumbotron {
  margin-top: 75px;
}


p {
  padding: 0 15px;
}

.table-striped{
  width: 90%;
  margin: 5px 5%;
}

.page-pic {
  width: 250px;
}

.modal-pic {
  width: 500px;
  margin: 30px;
}

.modal-footer {
  border: none;
}

.caption {
  padding: 10px !important;
}

#album {
  display: flex;
  flex-wrap: wrap;
}

figcaption {
  width: 250px;
}

figure {
  margin: 10px auto;
  width: 500px;
}

#album img, #slides img{
  border-radius: 6px;
}

#myCarousel{
 margin: 10px 10%;
 width: 80%;
 display: none;

}
@media only screen and (max-width: 1170px){
    
    .modal-pic{
        width: 75%;
        margin: 10px 12.5%;
    }
    #imgNav{
      margin-left: 10px;
      padding: 10px;
    }
}