//     --sm-screen: 576px;
//     --md-screen: 768px;
//     --lg-screen: 992px;
//     --xl-screen: 1200px;
@media screen and (max-width: 576px) {
    .section {
        padding: 0;
        .right-side {
            padding: 0;
        }
    }
    .controlls {
        top: auto;
        right: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        ul {
            display: flex;
            justify-content: space-evenly;
            background: var(--color-grey-5);
            .control {
                margin: 0.5rem 0;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .section .body {
        grid-template-columns: 1fr;
    }
    .header-content {
        .left-side {
            .shape {
                display: none;
            }
        }
        div.right-side {
            .name {
                font-size: 2.5rem;
            }
            h2 {
                font-size: 1.25rem;
            }
        }
    }
}